.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 600px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}


.navbar-default {
  background-color: white;
  border-color: #8e44ad;
  border-width: thick;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

.jumbotron{
  background-color: white;
}

.btn-primary{
  background-color: #A569BD;
  border-color: #A569BD;
}

.btn-primary.active,.btn-primary.focus,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open>.dropdown-toggle.btn-primary{
  background-color:#8e44ad;border-color:#8e44ad
}
